<%= render "support/fixed_nav" %>

<div id="content-wrapper">
	<div id="sub-post">
		<div class="container">
			<i class="fa fa-home"></i> 
			<a href="/">Home</a> 
			<i class="fa fa-angle-double-right"></i> 
			<a href="listberita.php">Galleries</a> 
		</div>
	</div>


	<div class="container">
		<div class="content left medium">
			<h1>GALLERIES</h1>
			
		</div>



		
		<div class="content left small">
			
		</div>
		<div class="clear"></div>
	</div>


</div>

<%= render "support/footer" %>