<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Super Simple</a>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      
      <form action="/search" method="get" class="navbar-form navbar-right" role="search" id="form_search_fixed">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="q" value="<%= @q %>">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      
      <% @pages = VPage.all %>
      <% @pages.each do |pm| %>
      <li><a href="/page/<%= pm.permalink %>"><%= pm.title %></a></li>
      <% end %>
    </ul>
  </div><!-- /.container-fluid -->
</nav>