<div class="panel_title">
  <div class="col-lg-12">
    <div class="pull-left">
      <h1 class="mt10 mb10 fs2">
        My Profile
      </h1>
    </div>
    <div class="pull-right">
      <small>
        <ol class="breadcrumb pt20">
          <li>
            <a href="/">
              <i class="glyphicon glyphicon-home"></i>
            </a>
          </li>
          <li>
            <a href="/adm/dashboard">
              <i class="glyphicon glyphicon-dashboard"></i>
              Dashboard
            </a>
          </li>
          <li class="active">  
            <i class="glyphicon glyphicon-user"></i>
            My Profile
          </li> 
        </ol>
      </small>
    </div>
  </div>
</div>

<!-- content -->
<div class="col-lg-12">
  <table>
    <tr>
      <td valign="top">
        <%= image_tag('thumb/'+current_user.avatar_file) %>
      </td>
      <td valign="top">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Full Name</td>
              <td>:</td>
              <td><%= current_user.full_name %></td>
            </tr>
            <tr>
              <td>Avatar Name</td>
              <td>:</td>
              <td><%= current_user.nick_name %></td>
            </tr>
            <tr>
              <td colspan="3">
                <a href="/adm/my_profile/edit" class="btn btn-primary">Edit</a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</div>