<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  <% @articles.each do |article| %>
    <div class="post-preview">
      
      <a href="/<%= article.permalink %>">
        <h2 class="post-title"><%= article.title %></h2>
      </a>		
      <p class="post-meta">
        Posted by Admin on <%= article.created_at %>
      </p>
    </div>
    <hr>
  <% end %>

  <%= will_paginate @articles %>
</div>

