<div class="form-horizontal">
  <textarea id="form_manual_textarea" class="form-control"><%= app_set('site_menu') %></textarea> <br>
  <button class="btn btn-primary" onclick="n_menu.form_manual_update();">Save</button>
</div>
