<div class="panel_title">
  <div class="col-lg-12">
    <div class="pull-left">
      <h1 class="mt10 mb10 fs2">Settings</h1>
    </div>
    <div class="pull-right">
      <small>
        <ol class="breadcrumb pt20">
          <li>
            <a href="/">
              <i class="glyphicon glyphicon-home"></i>
            </a>
          </li>
          <li>
            <a href="/adm/dashboard">
              <i class="glyphicon glyphicon-dashboard"></i>
              Dashboard
            </a>
          </li>
          <li class="active">
            <i class="glyphicon glyphicon-cog"></i>
            Settings
          </li>
        </ol>
      </small>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="form-horizontal">
    <div>

      <div class="form-group">
        <label class="col-lg-3">Site Title</label>	
        <div class="col-lg-9">
          <input type="text" name="o_site_title" value="<%= app_set('site_title') %>" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3">Site Description</label>	
        <div class="col-lg-9">
          <input type="text" name="o_site_description" value="<%= app_set('site_description') %>" class="form-control">		
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3">Domain</label>	
        <div class="col-lg-9">
          <input type="text" name="o_site_domain" value="<%= app_set('site_domain') %>" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3">Keywords</label>	
        <div class="col-lg-9">
          <input type="text" name="o_site_keywords" value="<%= app_set('site_keywords') %>" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-12">
          <input type="submit" class="btn btn-primary" value="Save Changes">
        </div>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#pill_settings').addClass('active');
  });
</script>