<%= render "support/fixed_nav" %>


<div class="container">
  <div class="col-lg-9">
    <%= render "articles", :locals => { @articles => @articles } %>  	
  </div>
  <div class="col-lg-3">
    <%= render partial: "widget/popular_article" %>
    
  </div>
</div>

<hr>
<%= render "support/footer" %>

<script type="text/javascript">
  landing.onload();
</script>