<% 
#Title: Right Categories
#Author: nitzaalfinas@gmail.com
#Description: Showing all categories
%>

<% @categories = Category.all %>

<h1>Kategori</h1>

<ul class="nostyle">
	<% @categories.each do |u| %>
	<li class="line">
		<a href="/category/<%= u.cat_slug %>">
			<h2><%= u.cat_name %></h2>	
		</a>
	</li>
	<% end %>
</ul>
