<% 
#Title: New User
#Author: nitzaalfinas@gmail.com
#Description: Showing 5 last user register
%>

<% @users = User.order('created_at desc').take(5) %>

<h1>User Registered</h1>

<ul class="nostyle">
	<% @users.each do |us| %>
	<li class="line">
		<div class="content left" style="margin:0 20px 0 0">
			<div class="user-avatar">
				<i class="fa fa-user"></i>
				<div class="user-image" style="background-image:url('image/user-pic/22_Jekkynwr.jpg')"></div>
			</div>	
		</div>
		<h2>
			<% if us.full_name == nil %>
				"No Name"
			<% else %>
				<%= us.full_name %>
			<% end %>
		</h2>
		<div class="clear"></div>
	</li>
	<% end %>
</ul>