<% 
#Title: Popular Article
#Author: nitzaalfinas@gmail.com
#Description: Showing 5 popular article
%>

<% if current_user %>
  <%  @larts = VArticle.where('publish_status = "Publish"').order('article_vcount DESC').take(5) %>
<% else %>
  <% @larts = VArticle.where('publish_status = "Publish" and publish_visibility = "public"').order('article_vcount DESC').take(5) %>
<% end %>

<div id="widget_popular_article" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Popular</h3>
  </div>
  <div class="panel-body">
    <% @larts.each do |lar| %>
      <li>
        <a href="/<%= lar.permalink %>">
          <%= lar.title %>	
        </a>
        <br>
        <small><%= lar.created_at %></small>
      </li>
    <% end %>
  </div>
</div>
