<% 
#Title: Right Pages
#Author: nitzaalfinas@gmail.com
#Description: Showing all categories
%>

<% @hals = VPage.where("publish_status = 'Publish'") %>

<h1>Halaman</h1>

<ul class="nostyle">
	<% @hals.each do |u| %>
	<li class="line">
		<a href="/page/<%= u.permalink %>">
			<h2><%= u.title %></h2>	
		</a>
	</li>
	<% end %>
</ul>
