// Place all the styles related to the adm_dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.panel-h-visitors {
    background-color: blueviolet;
    color: #fff;
    padding-bottom: 20px;
}

.panel-h-articles {
    background-color: #2E2EFE;
    color: #fff;
    padding-bottom: 20px;
}

.panel-h-categories {
    background-color: #0B610B;
    color: #fff;
    padding-bottom: 20px;
}

.panel-h-images {
    background-color: #B40404;
    color: #fff;
    padding-bottom: 20px;
}