
<div class="container">
  <% @articles.each do |article| %>
    <article class="col-lg-12">
      <h1><%= article.title %></h1>
      <div><%= article.body.html_safe %></div>
    </article>
  <% end %>
</div>

