<div class="panel_title">
  <div class="col-lg-12">
    <div class="pull-left">
      <h1 class="mt10 mb10 fs2">Pages</h1>
    </div>
    <div class="pull-right">
      <small>
        <ol class="breadcrumb pt20">
          <li>
            <%= link_to '<i class="glyphicon glyphicon-home"></i>'.html_safe, root_url %>
          </li>
          <li>
            <%= link_to '<i class="glyphicon glyphicon-dashboard"></i>'.html_safe+' Dashboard', { controller: 'dashboard', action: 'index' } %>
          </li>
          <li class="active">
            <i class="glyphicon glyphicon-briefcase"></i>
            Pages
          </li>
        </ol>
      </small>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <% if current_user.level == "Kecamatan" %>
    <div class="col-lg-12">
      Profil 
      <a href="/adm/pages/edit?ef=menu_profil">Edit</a>
    </div>
    <div class="col-lg-12">
      RPJMD
      <a href="/adm/pages/edit?ef=menu_rpjmd">Edit</a>
    </div>
    <div class="col-lg-12">
      Visi / Misi
      <a href="/adm/pages/edit?ef=menu_visimisi">Edit</a>
    </div>
    <div class="col-lg-12">
      Urusan / Tupoksi
      <a href="/adm/pages/edit?ef=menu_urusan">Edit</a>
    </div>
    <div class="col-lg-12">
      Program
      <a href="/adm/pages/edit?ef=menu_program">Edit</a>
    </div>
    <div class="col-lg-12">
      RKA
      <a href="/adm/pages/edit?ef=menu_rka">Edit</a>
    </div>
    <div class="col-lg-12">
      LPJ
      <a href="/adm/pages/edit?ef=menu_lpj">Edit</a>
    </div>
    <div class="col-lg-12">
      Prestasi
      <a href="/adm/pages/edit?ef=menu_prestasi">Edit</a>
    </div>
  <% end %>
</div>


<script>$('#pill_pages').addClass('active');</script>
<%= console %>

